<div class="container">
    <br />
    <h1>Bienvenido a Alumni App</h1>
    <br />
</div>
<div class="container">
    <div class="row">
        <div class="container col-sm-6">
            <div class="card">
                <!-- Card image -->
                <img class="card-img-top" src="~/images/students.jpg" alt="Card image cap">
                <!-- Card content -->
                <div class="card-body">
                    <!-- Title -->
                    <h4 class="card-title"><a>LogIn</a></h4>
                    <!-- Text -->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <!-- Button -->
                    <input type="button" class="btn btn-outline-dark" value="LogIn" onclick="location.href='@Url.Action("LogIn", "Session")'" />
                    <input type="button" class="btn btn-outline-dark" value="Register" onclick="#" />
                </div>
            </div>
        </div>
    </div>
</div>

